.card {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0.1px;
    width: 90%;

}

h4 {
    width: 90%;
    margin: 10px auto;
}

.genres {
    margin: auto;
    justify-content: start;
    align-items: start;

    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.movieDetails {

    text-align: start;
    padding: 0 15px;
}

.genres {
    margin: auto;
    justify-content: start;
    align-items: start;

    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
}

p,
h2 {
    margin: 0;
}

.more__information {
    display: flex;
    flex-direction: column;
}